First strategies

In [21]:
from importlib import reload
import pandas as pd
import matplotlib.pyplot as plt

import utils.preprocessing
reload(utils.preprocessing)

In [22]:
df = pd.read_excel('data/data_22.09.22__imm_.xlsx', header=[0, 1])
df

      Itraxx Main Generic                                       \
                     Date Last Price Last Price.1 Last Price.2
0              2022-09-22    125.509          NaN          NaN
1              2022-09-21    122.361          NaN          NaN
2              2022-09-20    120.426          NaN          NaN
3              2022-09-16    112.323          NaN          NaN
4              2022-09-15    108.886          NaN          NaN
...                   ...        ...          ...          ...
11827                 NaT        NaN          NaN          NaN
11828                 NaT        NaN          NaN          NaN
11829                 NaT        NaN          NaN          NaN
11830                 NaT        NaN          NaN          NaN
11831                 NaT        NaN          NaN          NaN

      Itraxx Xover Generic                                       \
                      Date Last Price Last Price.1 Last Price.2
0               2022-09-22    619.110          NaN          NaN
1               2022-09-21    601.364          NaN          NaN
2               2022-09-20    596.787          NaN          NaN
3               2022-09-16    552.824          NaN          NaN
4               2022-09-15    538.099          NaN          NaN
...                    ...        ...          ...          ...
11827                  NaT        NaN          NaN          NaN
11828                  NaT        NaN          NaN          NaN
11829                  NaT        NaN          NaN          NaN
11830                  NaT        NaN          NaN          NaN
11831                  NaT        NaN          NaN          NaN

      CDX IG Generic             ... ER CDX IG Short                     SPX  \
                Date Last Price  ...    Last Price.1 Last Price.2       Date
0         2022-09-22    101.883  ...             NaN          NaN 2022-09-22
1         2022-09-21    100.584  ...             NaN          NaN 2022-09-21
2         2022-09-20     98.471  ...             NaN          NaN 2022-09-20
3         2022-09-19     86.798  ...             NaN          NaN 2022-09-19
4         2022-09-16     89.170  ...             NaN          NaN 2022-09-16
...              ...        ...  ...             ...          ...        ...
11827            NaT        NaN  ...             NaN          NaN 1975-11-20
11828            NaT        NaN  ...             NaN          NaN 1975-11-19
11829            NaT        NaN  ...             NaN          NaN 1975-11-18
11830            NaT        NaN  ...             NaN          NaN 1975-11-17
11831            NaT        NaN  ...             NaN          NaN 1975-11-14

                                                       SX5E             \
      Last Price        Volume Volume.1 Volume.2       Date Last Price
0        3778.47  0.000000e+00      NaN      NaN 2022-09-22  3427.1399
1        3789.93  6.507671e+08      NaN      NaN 2022-09-21  3491.8701
2        3855.93  6.069292e+08      NaN      NaN 2022-09-20  3467.0901
3        3899.89  6.094226e+08      NaN      NaN 2022-09-19  3499.4900
4        3873.33  2.094243e+09      NaN      NaN 2022-09-16  3500.4099
...          ...           ...      ...      ...        ...        ...
11827      89.64           NaN      NaN      NaN        NaT        NaN
11828      89.98           NaN      NaN      NaN        NaT        NaN
11829      91.00           NaN      NaN      NaN        NaT        NaN
11830      91.46           NaN      NaN      NaN        NaT        NaN
11831      90.97           NaN      NaN      NaN        NaT        NaN


            Volume
0              NaN
1      282749440.0
2      355137088.0
3      245934352.0
4      683948800.0
...            ...
11827          NaN
11828          NaN
11829          NaN
11830          NaN
11831          NaN

[11832 rows x 44 columns]

In [23]:
df = df.dropna(axis=1, how='all')

In [24]:
ItraxxMain = utils.preprocessing.get_ItraxxMain(df)
ItraxxMain

            Generic Price  ER Long Price  ER Short Price
Date
2022-09-22        125.509       113.3897         82.9305
2022-09-21        122.361       113.5834         82.8257
2022-09-20        120.426       113.6542         82.8096
2022-09-16        112.323       113.7744         82.7576
2022-09-15        108.886       113.9900         82.6014
...                   ...            ...             ...
2011-10-18        179.500        97.1315        100.5361
2011-10-17        175.875        97.3066        100.3556
2011-10-14        173.250        97.3884        100.2715
2011-10-13        179.159        97.1210        100.5486
2011-10-12        172.542        97.4034        100.2581

[2748 rows x 3 columns]

In [25]:
ItraxxXover = utils.preprocessing.get_ItraxxXover(df)
ItraxxXover

            Generic Price  ER Long Price  ER Short Price
Date
2022-09-22        619.110       196.4054         40.1388
2022-09-21        601.364       197.6984         39.9124
2022-09-20        596.787       197.7231         39.9416
2022-09-16        552.824       198.5412         39.8116
2022-09-15        538.099       199.9603         39.5316
...                   ...            ...             ...
2011-09-15        716.500       106.4495         86.2419
2011-09-14        744.166       105.5747         86.9643
2011-09-13        771.167       104.5590         87.8196
2011-09-12        800.750       103.6299         88.6162
2011-09-09        779.500       104.9709         87.5015

[2755 rows x 3 columns]

In [26]:
CDX_IG = utils.preprocessing.get_CDX_IG(df)
CDX_IG

            Generic Price  ER Long Price  ER Short Price
Date
2022-09-21        100.584       110.9141         84.9577
2022-09-20         98.471       111.0292         84.8987
2022-09-19         86.798       111.2009         84.7962
2022-09-16         89.170       111.0792         84.8893
2022-09-15         89.239       111.0778         84.8903
...                   ...            ...             ...
2011-09-15        125.750        97.6042        100.0888
2011-09-14        129.750        97.4377        100.2602
2011-09-13        132.250        97.3285        100.3729
2011-09-12        135.750        97.1249        100.5839
2011-09-09        132.250        97.2998        100.4034

[2759 rows x 3 columns]

In [28]:
SPX = df['SPX']
SPX = SPX.set_index('Date')
SPX = SPX.dropna()
SPX

            Last Price        Volume
Date
2022-09-22     3778.47  0.000000e+00
2022-09-21     3789.93  6.507671e+08
2022-09-20     3855.93  6.069292e+08
2022-09-19     3899.89  6.094226e+08
2022-09-16     3873.33  2.094243e+09
...                ...           ...
1990-01-08      353.79  0.000000e+00
1990-01-05      352.20  0.000000e+00
1990-01-04      355.67  0.000000e+00
1990-01-03      358.76  0.000000e+00
1990-01-02      359.69  0.000000e+00

[8246 rows x 2 columns]

In [29]:
EuSt = df['SX5E']
EuSt = EuSt.set_index('Date')
EuSt = EuSt.dropna()
EuSt

            Last Price       Volume
Date
2022-09-21   3491.8701  282749440.0
2022-09-20   3467.0901  355137088.0
2022-09-19   3499.4900  245934352.0
2022-09-16   3500.4099  683948800.0
2022-09-15   3541.7900  438294688.0
...                ...          ...
2002-01-08   3724.0400  449038336.0
2002-01-07   3754.4199  465529600.0
2002-01-04   3820.4199  446310688.0
2002-01-03   3833.0901  375642848.0
2002-01-02   3755.5601  245793504.0

[5314 rows x 2 columns]

In [31]:
from functools import reduce
df = reduce(lambda df1,df2: pd.merge(df1,df2,on='Date'), [ItraxxMain, ItraxxXover, CDX_IG, SPX, EuSt])
df

,Generic Price_x,ER Long Price_x,ER Short Price_x,Generic Price_y,ER Long Price_y,ER Short Price_y,Generic Price,ER Long Price,ER Short Price,Last Price_x,Volume_x,Last Price_y,Volume_y
Date,,,,,,,,,,,,,
2022-09-21,122.361,113.5834,82.8257,601.364,197.6984,39.9124,100.584,110.9141,84.9577,3789.93,6.507671e+08,3491.8701,2.827494e+08
2022-09-20,120.426,113.6542,82.8096,596.787,197.7231,39.9416,98.471,111.0292,84.8987,3855.93,6.069292e+08,3467.0901,3.551371e+08
2022-09-16,112.323,113.7744,82.7576,552.824,198.5412,39.8116,89.170,111.0792,84.8893,3873.33,2.094243e+09,3500.4099,6.839488e+08
2022-09-15,108.886,113.9900,82.6014,538.099,199.9603,39.5316,89.239,111.0778,84.8903,3901.35,6.873780e+08,3541.7900,4.382947e+08
2022-09-14,106.728,114.0442,82.5622,524.334,200.6703,39.3925,85.258,111.2597,84.7518,3946.01,6.911695e+08,3567.5601,3.002243e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011-10-18,179.500,97.1315,100.5361,752.500,108.1359,84.3346,133.000,97.6134,99.8199,1225.38,8.819066e+08,2306.8101,9.816668e+08
2011-10-17,175.875,97.3066,100.3556,745.000,108.5257,84.0335,135.500,97.5263,99.9092,1200.86,6.956179e+08,2315.8899,1.237832e+09
2011-10-14,173.250,97.3884,100.2715,741.000,108.5308,84.0296,130.500,97.7239,99.7077,1224.58,6.463881e+08,2355.4800,1.291194e+09
2011-10-13,179.159,97.1210,100.5486,766.833,107.5737,84.7860,132.994,97.6050,99.8294,1203.66,7.023528e+08,2332.5200,1.483237e+09
2011-10-12,172.542,97.4034,100.2581,743.834,108.3922,84.1524,131.000,97.7054,99.7270,1207.25,8.221521e+08,2372.1499,1.342036e+09