First strategies

# Preprocessing

In [1]:
from importlib import reload
import pandas as pd
import matplotlib.pyplot as plt

import TechCore.utils.preprocessing as preprocessing
reload(preprocessing)

In [2]:
df = pd.read_excel('../../TechCore/data/data_22.09.22__imm_.xlsx', header=[0, 1])
df

      Itraxx Main Generic                                       \
                     Date Last Price Last Price.1 Last Price.2
0              2022-09-22    125.509          NaN          NaN
1              2022-09-21    122.361          NaN          NaN
2              2022-09-20    120.426          NaN          NaN
3              2022-09-16    112.323          NaN          NaN
4              2022-09-15    108.886          NaN          NaN
...                   ...        ...          ...          ...
11827                 NaT        NaN          NaN          NaN
11828                 NaT        NaN          NaN          NaN
11829                 NaT        NaN          NaN          NaN
11830                 NaT        NaN          NaN          NaN
11831                 NaT        NaN          NaN          NaN

      Itraxx Xover Generic                                       \
                      Date Last Price Last Price.1 Last Price.2
0               2022-09-22    619.110          NaN          NaN
1               2022-09-21    601.364          NaN          NaN
2               2022-09-20    596.787          NaN          NaN
3               2022-09-16    552.824          NaN          NaN
4               2022-09-15    538.099          NaN          NaN
...                    ...        ...          ...          ...
11827                  NaT        NaN          NaN          NaN
11828                  NaT        NaN          NaN          NaN
11829                  NaT        NaN          NaN          NaN
11830                  NaT        NaN          NaN          NaN
11831                  NaT        NaN          NaN          NaN

      CDX IG Generic             ... ER CDX IG Short                     SPX  \
                Date Last Price  ...    Last Price.1 Last Price.2       Date
0         2022-09-22    101.883  ...             NaN          NaN 2022-09-22
1         2022-09-21    100.584  ...             NaN          NaN 2022-09-21
2         2022-09-20     98.471  ...             NaN          NaN 2022-09-20
3         2022-09-19     86.798  ...             NaN          NaN 2022-09-19
4         2022-09-16     89.170  ...             NaN          NaN 2022-09-16
...              ...        ...  ...             ...          ...        ...
11827            NaT        NaN  ...             NaN          NaN 1975-11-20
11828            NaT        NaN  ...             NaN          NaN 1975-11-19
11829            NaT        NaN  ...             NaN          NaN 1975-11-18
11830            NaT        NaN  ...             NaN          NaN 1975-11-17
11831            NaT        NaN  ...             NaN          NaN 1975-11-14

                                                       SX5E             \
      Last Price        Volume Volume.1 Volume.2       Date Last Price
0        3778.47  0.000000e+00      NaN      NaN 2022-09-22  3427.1399
1        3789.93  6.507671e+08      NaN      NaN 2022-09-21  3491.8701
2        3855.93  6.069292e+08      NaN      NaN 2022-09-20  3467.0901
3        3899.89  6.094226e+08      NaN      NaN 2022-09-19  3499.4900
4        3873.33  2.094243e+09      NaN      NaN 2022-09-16  3500.4099
...          ...           ...      ...      ...        ...        ...
11827      89.64           NaN      NaN      NaN        NaT        NaN
11828      89.98           NaN      NaN      NaN        NaT        NaN
11829      91.00           NaN      NaN      NaN        NaT        NaN
11830      91.46           NaN      NaN      NaN        NaT        NaN
11831      90.97           NaN      NaN      NaN        NaT        NaN


            Volume
0              NaN
1      282749440.0
2      355137088.0
3      245934352.0
4      683948800.0
...            ...
11827          NaN
11828          NaN
11829          NaN
11830          NaN
11831          NaN

[11832 rows x 44 columns]

In [3]:
df = df.dropna(axis=1, how='all')

In [4]:
ItraxxMain = preprocessing.get_ItraxxMain(df)
ItraxxMain

            Generic Price  ER Long Price  ER Short Price
Date
2022-09-22        125.509       113.3897         82.9305
2022-09-21        122.361       113.5834         82.8257
2022-09-20        120.426       113.6542         82.8096
2022-09-16        112.323       113.7744         82.7576
2022-09-15        108.886       113.9900         82.6014
...                   ...            ...             ...
2007-03-26            NaN       100.1063         99.8937
2007-03-23            NaN       100.1090         99.8911
2007-03-22            NaN       100.0833         99.9168
2007-03-21            NaN       100.0287         99.9713
2007-03-20            NaN       100.0000        100.0000

[3911 rows x 3 columns]

In [5]:
ItraxxXover = preprocessing.get_ItraxxXover(df)
ItraxxXover

            Generic Price  ER Long Price  ER Short Price
Date
2022-09-22        619.110       196.4054         40.1388
2022-09-21        601.364       197.6984         39.9124
2022-09-20        596.787       197.7231         39.9416
2022-09-16        552.824       198.5412         39.8116
2022-09-15        538.099       199.9603         39.5316
...                   ...            ...             ...
2007-03-26            NaN       100.7493         99.2515
2007-03-23            NaN       100.8924         99.1111
2007-03-22            NaN       100.8037         99.1985
2007-03-21            NaN       100.2951         99.7046
2007-03-20            NaN       100.0000        100.0000

[3911 rows x 3 columns]

In [6]:
CDX_IG = preprocessing.get_CDX_IG(df)
CDX_IG

            Generic Price  ER Long Price  ER Short Price
Date
2022-09-22        101.883            NaN             NaN
2022-09-21        100.584       110.9141         84.9577
2022-09-20         98.471       111.0292         84.8987
2022-09-19         86.798       111.2009         84.7962
2022-09-16         89.170       111.0792         84.8893
...                   ...            ...             ...
2007-03-26            NaN       100.0683         99.9317
2007-03-23            NaN       100.1108         99.8892
2007-03-22            NaN       100.1147         99.8854
2007-03-21            NaN       100.0850         99.9150
2007-03-20            NaN       100.0000        100.0000

[3882 rows x 3 columns]

In [7]:
SPX = df['SPX']
SPX = SPX.set_index('Date')
SPX = SPX.dropna()
SPX

            Last Price        Volume
Date
2022-09-22     3778.47  0.000000e+00
2022-09-21     3789.93  6.507671e+08
2022-09-20     3855.93  6.069292e+08
2022-09-19     3899.89  6.094226e+08
2022-09-16     3873.33  2.094243e+09
...                ...           ...
1990-01-08      353.79  0.000000e+00
1990-01-05      352.20  0.000000e+00
1990-01-04      355.67  0.000000e+00
1990-01-03      358.76  0.000000e+00
1990-01-02      359.69  0.000000e+00

[8246 rows x 2 columns]

In [8]:
EuSt = df['SX5E']
EuSt = EuSt.set_index('Date')
EuSt = EuSt.dropna()
EuSt

            Last Price       Volume
Date
2022-09-21   3491.8701  282749440.0
2022-09-20   3467.0901  355137088.0
2022-09-19   3499.4900  245934352.0
2022-09-16   3500.4099  683948800.0
2022-09-15   3541.7900  438294688.0
...                ...          ...
2002-01-08   3724.0400  449038336.0
2002-01-07   3754.4199  465529600.0
2002-01-04   3820.4199  446310688.0
2002-01-03   3833.0901  375642848.0
2002-01-02   3755.5601  245793504.0

[5314 rows x 2 columns]

In [9]:
from functools import reduce
df = reduce(lambda df1,df2: pd.merge(df1,df2,on='Date'), [ItraxxMain['ER Long Price'], ItraxxXover['ER Long Price'], CDX_IG['ER Long Price'], SPX, EuSt])

df.columns = [
    'ItraxxMain',
    'ItraxxXover',
    'CDX_IG',
    'SPX_Price',
    'SPX_Volume',
    'EuSt_Price',
    'EuSt_Volume'
]

In [10]:
df = df.iloc[::-1]
df

,ItraxxMain,ItraxxXover,CDX_IG,SPX_Price,SPX_Volume,EuSt_Price,EuSt_Volume
Date,,,,,,,
2007-03-20,100.0000,100.0000,100.0000,1410.94,1.182479e+09,4079.5200,9.134466e+08
2007-03-21,100.0287,100.2951,100.0850,1435.04,1.399847e+09,4078.2900,8.624504e+08
2007-03-22,100.0833,100.8037,100.1147,1434.54,1.286669e+09,4170.0801,1.174437e+09
2007-03-23,100.1090,100.8924,100.1108,1436.11,1.122459e+09,4191.5801,9.219071e+08
2007-03-26,100.1063,100.7493,100.0683,1437.50,1.187999e+09,4142.1099,9.893587e+08
...,...,...,...,...,...,...,...
2022-09-14,114.0442,200.6703,111.2597,3946.01,6.911695e+08,3567.5601,3.002243e+08
2022-09-15,113.9900,199.9603,111.0778,3901.35,6.873780e+08,3541.7900,4.382947e+08
2022-09-16,113.7744,198.5412,111.0792,3873.33,2.094243e+09,3500.4099,6.839488e+08
2022-09-20,113.6542,197.7231,111.0292,3855.93,6.069292e+08,3467.0901,3.551371e+08
2022-09-21,113.5834,197.6984,110.9141,3789.93,6.507671e+08,3491.8701,2.827494e+08

In [11]:
df.to_csv('01_result.csv')