In [1]:
import pandas as pd

In [2]:
#import libraries to handle request to api
import requests
import json
import pprint
# base currency or reference currency
base="USD"

# required currency for plot
currencies = {
    'China': 'CNY',
    'Europe': 'EUR',
    'Japan': 'JPY',
    'India': 'INR',
    'Canada': 'CAD',
    'Korea': 'KRW',
    'UK': 'GBP',
    'Brazil': 'BRL',
    'Mexico': 'MXN',
    'Turkey': 'TRY',
    'Taiwan': 'TWD',
    'Singapore': 'SGD',
    'Australia': 'AUD',
    'South Africa': 'ZAR',
    'Egypt': 'EGP',
    'Nigeria': 'NGN',
    'Indonesia': 'IDR',
    'Malaysia': 'MYR',
    'Iraq': 'IQD',
    'Philippines': 'PHP',
    'Thailand': 'THB',
    'Israel': 'ILS',
    'Switzerland': 'CHF'
}

dates = ['2007-01-01', '2008-01-01', '2009-01-01', '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01', '2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01']

df_list = []
for i in range(1, len(dates)):
    df_big = pd.DataFrame()

    for country, currency in currencies.items():
        url = 'https://api.exchangerate.host/timeseries?base={0}&start_date={1}&end_date={2}&symbols={3}'.format(base,dates[i - 1], dates[i], currency)
        response = requests.get(url)

        data = response.json()
        df = pd.DataFrame(data['rates']).T

        df_big['USD/' + country] = df[currency]

    df_list.append(df_big[:-1])

In [3]:
forex = pd.concat(df_list)

In [4]:
df = pd.read_csv('02_result.csv').set_index('Unnamed: 0')
df.index.names = ['']

In [5]:
df = df.merge(forex, left_index=True, right_index=True)

In [6]:
df

,ItraxxMain,ItraxxXover,CDX_IG,SPX_Price,SPX_Volume,EuSt_Price,EuSt_Volume,Oil (WTI-Oklahoma),Oil (Brent-EU),Conventional Gasoline (NY Harbor),...,USD/South Africa,USD/Egypt,USD/Nigeria,USD/Indonesia,USD/Malaysia,USD/Iraq,USD/Philippines,USD/Thailand,USD/Israel,USD/Switzerland
2007-03-20,100.0000,100.0000,100.0000,1410.94,1.182479e+09,4079.5200,9.134466e+08,56.41,60.11,1.914,...,7.381947,5.446981,122.679483,8775.533193,3.491439,1214.441274,48.196906,32.490237,4.201412,1.211926
2007-03-21,100.0287,100.2951,100.0850,1435.04,1.399847e+09,4078.2900,8.624504e+08,56.98,60.18,1.910,...,7.267184,5.407717,122.225539,8724.755430,3.446974,1208.985745,47.765505,31.887454,4.181058,1.208374
2007-03-22,100.0833,100.8037,100.1147,1434.54,1.286669e+09,4170.0801,1.174437e+09,60.21,61.57,1.914,...,7.197165,5.434078,122.821359,8767.286486,3.465127,1214.879256,47.786861,31.637918,4.183666,1.213889
2007-03-23,100.1090,100.8924,100.1108,1436.11,1.122459e+09,4191.5801,9.219071e+08,61.07,63.10,1.930,...,7.215838,5.449199,123.163120,8791.682184,3.454087,1218.259758,47.861924,32.061367,4.182447,1.217568
2007-03-26,100.1063,100.7493,100.0683,1437.50,1.187999e+09,4142.1099,9.893587e+08,61.77,64.43,2.000,...,7.212871,5.417642,122.082208,8684.743474,3.451620,1209.870987,47.907291,32.197720,4.194494,1.215347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-21,116.2111,218.0884,112.2719,4649.23,6.201414e+08,4174.9902,2.725863e+08,71.10,72.85,2.207,...,15.837798,15.705693,410.716699,14278.515069,4.205804,1458.285692,49.877442,33.654941,3.163542,0.923365
2021-12-22,116.2445,218.5824,112.3261,4696.56,4.564783e+08,4217.0601,1.945563e+08,72.82,74.69,2.222,...,15.719020,15.747735,410.919826,14217.417139,4.212684,1459.400153,50.203031,33.680573,3.164185,0.920553
2021-12-23,116.3149,219.2426,112.3691,4725.79,4.332652e+08,4265.8599,2.421080e+08,73.89,76.26,2.257,...,15.650105,15.698941,410.985541,14176.992998,4.198359,1459.198669,50.078973,33.492546,3.152118,0.919119
2021-12-29,116.3138,219.0620,112.4060,4793.06,3.660017e+08,4284.8301,1.666996e+08,76.58,78.63,2.317,...,15.921102,15.697661,412.512865,14236.868455,4.179208,1459.534588,51.013314,33.478768,3.117419,0.914282
2021-12-30,116.3518,219.3878,112.3916,4778.73,3.315328e+08,4306.0698,1.870611e+08,76.83,78.61,2.322,...,15.921991,15.691901,410.707457,14250.144317,4.172408,1458.300277,51.247719,33.303555,3.102259,0.913347

In [7]:
# data from here https://www.wsj.com/market-data/quotes/index/DXY/historical-prices
DXY = pd.read_csv('03-DXY_Data.csv').set_index('Date')[::-1][[' Open', ' Close']]
DXY.index.names = ['']
DXY

            Open   Close

01/03/07   83.27   83.92
01/04/07   83.91   84.32
01/05/07   84.29   84.63
01/08/07   84.64   84.60
01/09/07   84.49   84.74
...          ...     ...
02/01/23  102.09  101.22
02/02/23  100.85  101.75
02/03/23  101.83  102.92
02/06/23  102.99  103.62
02/07/23  103.54  103.43

[4181 rows x 2 columns]

In [8]:
tmp = DXY.index[0]

In [9]:
month = tmp[:2]
day = tmp[3:5]
year = '20' + tmp[6:8]
new_tmp = year + '-' + month + '-' + day
new_tmp

'2007-01-03'

In [10]:
norm_index = []
for tmp in DXY.index:
    month = tmp[:2]
    day = tmp[3:5]
    year = '20' + tmp[6:8]
    norm_index.append(year + '-' + month + '-' + day)

In [11]:
DXY.index = norm_index
DXY

              Open   Close
2007-01-03   83.27   83.92
2007-01-04   83.91   84.32
2007-01-05   84.29   84.63
2007-01-08   84.64   84.60
2007-01-09   84.49   84.74
...            ...     ...
2023-02-01  102.09  101.22
2023-02-02  100.85  101.75
2023-02-03  101.83  102.92
2023-02-06  102.99  103.62
2023-02-07  103.54  103.43

[4181 rows x 2 columns]

In [12]:
DXY.columns = ['DXY_Open', 'DXY_Close']
DXY

            DXY_Open  DXY_Close
2007-01-03     83.27      83.92
2007-01-04     83.91      84.32
2007-01-05     84.29      84.63
2007-01-08     84.64      84.60
2007-01-09     84.49      84.74
...              ...        ...
2023-02-01    102.09     101.22
2023-02-02    100.85     101.75
2023-02-03    101.83     102.92
2023-02-06    102.99     103.62
2023-02-07    103.54     103.43

[4181 rows x 2 columns]

In [13]:
df = df.merge(DXY, left_index=True, right_index=True)

In [14]:
df.to_csv('03_result.csv')