In [1]:
import pandas as pd
# source - "https://www.investing.com/rates-bonds/"+ 'country' + "-1-year-bond-yield-historical-data"

In [2]:
pd.read_csv('03_result.csv')

,Unnamed: 0,ItraxxMain,ItraxxXover,CDX_IG,SPX_Price,SPX_Volume,EuSt_Price,EuSt_Volume,Oil (WTI-Oklahoma),Oil (Brent-EU),...,USD/Nigeria,USD/Indonesia,USD/Malaysia,USD/Iraq,USD/Philippines,USD/Thailand,USD/Israel,USD/Switzerland,DXY_Open,DXY_Close
0,2007-03-20,100.0000,100.0000,100.0000,1410.94,1.182479e+09,4079.5200,9.134466e+08,56.41,60.11,...,122.679483,8775.533193,3.491439,1214.441274,48.196906,32.490237,4.201412,1.211926,83.31,83.11
1,2007-03-21,100.0287,100.2951,100.0850,1435.04,1.399847e+09,4078.2900,8.624504e+08,56.98,60.18,...,122.225539,8724.755430,3.446974,1208.985745,47.765505,31.887454,4.181058,1.208374,83.08,82.77
2,2007-03-22,100.0833,100.8037,100.1147,1434.54,1.286669e+09,4170.0801,1.174437e+09,60.21,61.57,...,122.821359,8767.286486,3.465127,1214.879256,47.786861,31.637918,4.183666,1.213889,82.74,83.09
3,2007-03-23,100.1090,100.8924,100.1108,1436.11,1.122459e+09,4191.5801,9.219071e+08,61.07,63.10,...,123.163120,8791.682184,3.454087,1218.259758,47.861924,32.061367,4.182447,1.217568,83.10,83.28
4,2007-03-26,100.1063,100.7493,100.0683,1437.50,1.187999e+09,4142.1099,9.893587e+08,61.77,64.43,...,122.082208,8684.743474,3.451620,1209.870987,47.907291,32.197720,4.194494,1.215347,83.39,83.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3590,2021-12-21,116.2111,218.0884,112.2719,4649.23,6.201414e+08,4174.9902,2.725863e+08,71.10,72.85,...,410.716699,14278.515069,4.205804,1458.285692,49.877442,33.654941,3.163542,0.923365,96.54,96.49
3591,2021-12-22,116.2445,218.5824,112.3261,4696.56,4.564783e+08,4217.0601,1.945563e+08,72.82,74.69,...,410.919826,14217.417139,4.212684,1459.400153,50.203031,33.680573,3.164185,0.920553,96.47,96.08
3592,2021-12-23,116.3149,219.2426,112.3691,4725.79,4.332652e+08,4265.8599,2.421080e+08,73.89,76.26,...,410.985541,14176.992998,4.198359,1459.198669,50.078973,33.492546,3.152118,0.919119,96.03,96.06
3593,2021-12-29,116.3138,219.0620,112.4060,4793.06,3.660017e+08,4284.8301,1.666996e+08,76.58,78.63,...,412.512865,14236.868455,4.179208,1459.534588,51.013314,33.478768,3.117419,0.914282,96.15,95.93
3594,2021-12-30,116.3518,219.3878,112.3916,4778.73,3.315328e+08,4306.0698,1.870611e+08,76.83,78.61,...,410.707457,14250.144317,4.172408,1458.300277,51.247719,33.303555,3.102259,0.913347,95.89,95.97

In [3]:
import os

big_df = pd.DataFrame()

for i in os.listdir('04-bond_yields'):
    df = pd.read_csv('04-bond_yields/' + i)
    country = i.split()[:2]
    if country[1][0] == '1':
        country = i.split()[0]
    else:
        country = "-".join(country)

    df = df.set_index('Date')
    df.index.names = ['']
    big_df[country + '_1_year_bonds_yield'] = df['Price']

In [4]:
big_df = big_df[::-1]

In [5]:
import calendar

ind = 0
month_map = {}
for i in calendar.month_abbr:
    month_map[i] = ind
    ind += 1

In [6]:
tmp = big_df.index[100]

new_index = []
for tmp in big_df.index:
    month = tmp[:3]
    day = tmp[4:6]
    year = tmp[8:12]
    new_index.append(year + '-' + str(month_map[month]).rjust(2, '0') + '-' + day)

In [7]:
big_df.index = new_index
big_df

,Australia_1_year_bonds_yield,Brazil_1_year_bonds_yield,Canada_1_year_bonds_yield,China_1_year_bonds_yield,France_1_year_bonds_yield,Germany_1_year_bonds_yield,India_1_year_bonds_yield,Indonesia_1_year_bonds_yield,Japan_1_year_bonds_yield,Philippines_1_year_bonds_yield,South-Korea_1_year_bonds_yield,United-Kingdom_1_year_bonds_yield,United-States_1_year_bonds_yield
2007-01-02,6.240,NaN,4.14,NaN,3.820,3.866,7.200,10.199,NaN,5.544,4.930,5.266,NaN
2007-01-03,6.275,NaN,4.13,NaN,3.818,3.868,7.218,8.040,NaN,5.473,4.950,5.282,NaN
2007-01-04,6.220,NaN,4.11,2.079,3.824,3.855,7.185,7.483,0.654,5.487,4.950,5.298,NaN
2007-01-05,6.160,NaN,4.13,2.077,3.819,3.858,7.328,7.982,0.659,5.498,4.920,5.303,NaN
2007-01-08,6.165,NaN,4.17,2.059,3.842,3.874,7.205,8.344,NaN,5.491,4.930,5.297,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-30,3.165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.095,NaN,3.598,NaN,4.5915
2022-10-31,3.149,13.250,4.30,1.730,2.265,2.046,6.814,5.548,-0.089,5.221,3.641,3.009,4.6370
2022-11-01,3.216,13.175,4.28,1.717,2.270,2.131,6.860,5.578,-0.094,5.221,3.800,2.919,4.6420
2022-11-02,3.179,NaN,4.32,1.731,2.295,2.116,6.866,5.555,-0.095,5.205,3.860,2.780,4.7320
2022-11-03,3.292,13.330,4.36,1.713,2.309,2.153,6.912,5.509,-0.088,5.300,3.923,2.840,4.7780

In [8]:
df = pd.read_csv('03_result.csv').set_index('Unnamed: 0')
df.index.names = ['']
df

,ItraxxMain,ItraxxXover,CDX_IG,SPX_Price,SPX_Volume,EuSt_Price,EuSt_Volume,Oil (WTI-Oklahoma),Oil (Brent-EU),Conventional Gasoline (NY Harbor),...,USD/Nigeria,USD/Indonesia,USD/Malaysia,USD/Iraq,USD/Philippines,USD/Thailand,USD/Israel,USD/Switzerland,DXY_Open,DXY_Close
,,,,,,,,,,,,,,,,,,,,,
2007-03-20,100.0000,100.0000,100.0000,1410.94,1.182479e+09,4079.5200,9.134466e+08,56.41,60.11,1.914,...,122.679483,8775.533193,3.491439,1214.441274,48.196906,32.490237,4.201412,1.211926,83.31,83.11
2007-03-21,100.0287,100.2951,100.0850,1435.04,1.399847e+09,4078.2900,8.624504e+08,56.98,60.18,1.910,...,122.225539,8724.755430,3.446974,1208.985745,47.765505,31.887454,4.181058,1.208374,83.08,82.77
2007-03-22,100.0833,100.8037,100.1147,1434.54,1.286669e+09,4170.0801,1.174437e+09,60.21,61.57,1.914,...,122.821359,8767.286486,3.465127,1214.879256,47.786861,31.637918,4.183666,1.213889,82.74,83.09
2007-03-23,100.1090,100.8924,100.1108,1436.11,1.122459e+09,4191.5801,9.219071e+08,61.07,63.10,1.930,...,123.163120,8791.682184,3.454087,1218.259758,47.861924,32.061367,4.182447,1.217568,83.10,83.28
2007-03-26,100.1063,100.7493,100.0683,1437.50,1.187999e+09,4142.1099,9.893587e+08,61.77,64.43,2.000,...,122.082208,8684.743474,3.451620,1209.870987,47.907291,32.197720,4.194494,1.215347,83.39,83.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-21,116.2111,218.0884,112.2719,4649.23,6.201414e+08,4174.9902,2.725863e+08,71.10,72.85,2.207,...,410.716699,14278.515069,4.205804,1458.285692,49.877442,33.654941,3.163542,0.923365,96.54,96.49
2021-12-22,116.2445,218.5824,112.3261,4696.56,4.564783e+08,4217.0601,1.945563e+08,72.82,74.69,2.222,...,410.919826,14217.417139,4.212684,1459.400153,50.203031,33.680573,3.164185,0.920553,96.47,96.08
2021-12-23,116.3149,219.2426,112.3691,4725.79,4.332652e+08,4265.8599,2.421080e+08,73.89,76.26,2.257,...,410.985541,14176.992998,4.198359,1459.198669,50.078973,33.492546,3.152118,0.919119,96.03,96.06
2021-12-29,116.3138,219.0620,112.4060,4793.06,3.660017e+08,4284.8301,1.666996e+08,76.58,78.63,2.317,...,412.512865,14236.868455,4.179208,1459.534588,51.013314,33.478768,3.117419,0.914282,96.15,95.93
2021-12-30,116.3518,219.3878,112.3916,4778.73,3.315328e+08,4306.0698,1.870611e+08,76.83,78.61,2.322,...,410.707457,14250.144317,4.172408,1458.300277,51.247719,33.303555,3.102259,0.913347,95.89,95.97

In [9]:
df = df.merge(big_df, left_index=True, right_index=True)

In [11]:
df

,ItraxxMain,ItraxxXover,CDX_IG,SPX_Price,SPX_Volume,EuSt_Price,EuSt_Volume,Oil (WTI-Oklahoma),Oil (Brent-EU),Conventional Gasoline (NY Harbor),...,China_1_year_bonds_yield,France_1_year_bonds_yield,Germany_1_year_bonds_yield,India_1_year_bonds_yield,Indonesia_1_year_bonds_yield,Japan_1_year_bonds_yield,Philippines_1_year_bonds_yield,South-Korea_1_year_bonds_yield,United-Kingdom_1_year_bonds_yield,United-States_1_year_bonds_yield
2007-03-20,100.0000,100.0000,100.0000,1410.94,1.182479e+09,4079.5200,9.134466e+08,56.41,60.11,1.914,...,2.080,3.981,4.017,7.670,5.752,0.674,5.000,4.980,5.432,NaN
2007-03-21,100.0287,100.2951,100.0850,1435.04,1.399847e+09,4078.2900,8.624504e+08,56.98,60.18,1.910,...,2.195,3.982,4.020,8.012,7.920,NaN,5.104,4.880,5.482,NaN
2007-03-22,100.0833,100.8037,100.1147,1434.54,1.286669e+09,4170.0801,1.174437e+09,60.21,61.57,1.914,...,2.183,3.978,4.092,7.679,8.244,0.674,4.938,4.880,5.490,NaN
2007-03-23,100.1090,100.8924,100.1108,1436.11,1.122459e+09,4191.5801,9.219071e+08,61.07,63.10,1.930,...,2.120,3.986,3.899,7.669,8.010,0.674,4.813,4.870,5.527,NaN
2007-03-26,100.1063,100.7493,100.0683,1437.50,1.187999e+09,4142.1099,9.893587e+08,61.77,64.43,2.000,...,2.175,3.983,4.012,7.705,8.074,0.674,4.700,4.860,5.490,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-21,116.2111,218.0884,112.2719,4649.23,6.201414e+08,4174.9902,2.725863e+08,71.10,72.85,2.207,...,2.379,-0.644,-0.637,4.412,3.746,-0.110,1.672,1.296,0.439,0.267
2021-12-22,116.2445,218.5824,112.3261,4696.56,4.564783e+08,4217.0601,1.945563e+08,72.82,74.69,2.222,...,2.364,-0.640,-0.635,4.405,3.741,-0.106,1.674,1.317,0.462,0.264
2021-12-23,116.3149,219.2426,112.3691,4725.79,4.332652e+08,4265.8599,2.421080e+08,73.89,76.26,2.257,...,2.339,-0.625,-0.633,4.409,3.715,-0.102,1.679,1.343,0.483,0.282
2021-12-29,116.3138,219.0620,112.4060,4793.06,3.660017e+08,4284.8301,1.666996e+08,76.58,78.63,2.317,...,2.315,-0.645,-0.612,4.232,3.668,-0.100,1.680,1.351,0.522,0.389
2021-12-30,116.3518,219.3878,112.3916,4778.73,3.315328e+08,4306.0698,1.870611e+08,76.83,78.61,2.322,...,2.268,-0.657,-0.612,4.389,3.665,-0.094,1.631,1.351,0.500,0.379

In [10]:
df.to_csv('04_result.csv')